#search_item {
    border-radius: 0.5rem;
    position: absolute;
    width: 10rem;
    height: 2rem;
    background-color: rgb(54, 155, 122);
    transform: translateY(100%);
    display: flex;
    align-items: center;
    color: white;
    margin-top: .1rem;
}

.search_item_text{
    margin-left: .5rem;
}