#search_list {
    border-radius: 0.5rem;
    background-color: rgb(54, 155, 122);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: .1rem;
    font-size: .5rem;
}

#search_item {
    width: 10rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
}

.search_item_text {
    width: 50%;
    height: 100%;
    display: flex;
    margin: .5rem;
    text-overflow: ellipsis;
}